.project-category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5vh;
}
.project-category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    color: white;
    background-color: #495057;
    padding: 3vh 0.5vw;
    border-radius: 5px;
    height: 72vh;
}

.project-category-image {
    max-width: 20vw;
    max-height: 40vh;
    padding: 1vh 0.5vw;
    border-radius: 5px;
}




.project-category h5 {
    font-size: 1.5rem;
    font-weight: bold;
    
    font-family: 'Times New Roman', Times, serif ;
}

.project-category p {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1vh;
    font-family: 'Times New Roman', Times, serif ;
    text-align: justify;
    padding: 0 2vw;
}

.project-category button {
    padding: 0.7vh 2vw;
    border: none;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #495057;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif ;
}

.project-category button:hover {
    background-color: #495057;
    color: white;
}

